flows.json
[
    {
        "id": "0935de8b88e9a016",
        "type": "tab",
        "label": "rekata_telegrambot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e899286ccebc8c74",
        "type": "tab",
        "label": "tanyakrab_bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c940c4049c9e1049",
        "type": "chatbot-telegram-node",
        "d": true,
        "botname": "ReKata",
        "usernames": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": false,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "227839c5a19f7b4b",
        "type": "telegram bot",
        "botname": "Tanya Akrab",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "eae69f0212a8e078",
        "type": "chatbot-telegram-node",
        "botname": "Tanya Akrab",
        "usernames": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": false,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "0a8c823149f9a17a",
        "type": "chatbot-telegram-receive",
        "z": "0935de8b88e9a016",
        "bot": "c940c4049c9e1049",
        "botProduction": "",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "76437f4e9f396161"
            ]
        ]
    },
    {
        "id": "45ec9cafee3ca666",
        "type": "chatbot-telegram-send",
        "z": "0935de8b88e9a016",
        "bot": "c940c4049c9e1049",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 1250,
        "y": 320,
        "wires": []
    },
    {
        "id": "76437f4e9f396161",
        "type": "chatbot-conversation",
        "z": "0935de8b88e9a016",
        "name": "",
        "botDevelopment": "c940c4049c9e1049",
        "botProduction": "",
        "chatId": "",
        "userId": "",
        "transport": "telegram",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "9eb54943e2ebfe1f",
                "5d3e1f070aedb746"
            ]
        ]
    },
    {
        "id": "9eb54943e2ebfe1f",
        "type": "chatbot-rules",
        "z": "0935de8b88e9a016",
        "name": "",
        "rules": [
            {
                "type": "command",
                "command": "/get_all"
            },
            {
                "type": "command",
                "command": "/get_life"
            },
            {
                "type": "command",
                "command": "/get_past"
            },
            {
                "type": "command",
                "command": "/get_random"
            },
            {
                "type": "command",
                "command": "/get_relation"
            },
            {
                "type": "command",
                "command": "/get_about"
            },
            {
                "type": "command",
                "command": "/about"
            },
            {
                "type": "command",
                "command": "/saran"
            },
            {
                "type": "command",
                "command": "/kirim_saran"
            }
        ],
        "outputs": 9,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "8b2e8df667b8cef0",
                "db3feb76e83f3f79",
                "92c2afc67359e708",
                "9f72df65cce9ca47",
                "a2e8914fcbad2b6d"
            ],
            [
                "65144bf873502229"
            ],
            [
                "b7319d998302ced9"
            ],
            [
                "6c24a45dab269178"
            ],
            [
                "248597010839bebb"
            ],
            [
                "f7bf738cd746241c"
            ],
            [
                "a4aa3415017046d4"
            ],
            [
                "fa646f8ad9bfc7f5"
            ],
            [
                "9e9421378be9d795",
                "2ad47f6ef32f35d7"
            ]
        ]
    },
    {
        "id": "f7bf738cd746241c",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-about_you",
        "filename": "./rekata_questions/about_you.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 700,
        "y": 480,
        "wires": [
            [
                "754c07383de677f9"
            ]
        ]
    },
    {
        "id": "5d3e1f070aedb746",
        "type": "debug",
        "z": "0935de8b88e9a016",
        "name": "Read Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f62b8449b5e30aa",
        "type": "inject",
        "z": "0935de8b88e9a016",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "fda676fe8736d81c"
            ]
        ]
    },
    {
        "id": "fda676fe8736d81c",
        "type": "chatbot-telegram-menu",
        "z": "0935de8b88e9a016",
        "bot": "c940c4049c9e1049",
        "items": [
            {
                "command": "/get_all",
                "description": " - Seluruh topik"
            },
            {
                "command": "/get_life",
                "description": " - Topik LIFE"
            },
            {
                "command": "/get_past",
                "description": " - Topik PAST"
            },
            {
                "command": "/get_random",
                "description": " - Topik RANDOM"
            },
            {
                "command": "/get_relation",
                "description": " - Topik RELATIONSHIP"
            },
            {
                "command": "/get_about",
                "description": " - Topik ABOUT YOU"
            },
            {
                "command": "/about",
                "description": "Mengenai Bot"
            },
            {
                "command": "/saran",
                "description": "Cara kirim saran"
            }
        ],
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "49143dad7538bf4c",
        "type": "chatbot-message",
        "z": "0935de8b88e9a016",
        "name": "",
        "message": [
            {
                "message": "{{payload}}"
            }
        ],
        "language": "none",
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "45ec9cafee3ca666"
            ]
        ]
    },
    {
        "id": "754c07383de677f9",
        "type": "function",
        "z": "0935de8b88e9a016",
        "name": "get question",
        "func": "var questionList = msg.payload.split(/\\r?\\n/);\nvar len = questionList.length;\nvar rndNum = Math.floor(Math.random() * len);\nvar question = questionList[rndNum].split(\"; \");\nmsg.payload = \"  [ \" + question[0] + \" ]\\n\" + question[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 280,
        "wires": [
            [
                "49143dad7538bf4c"
            ]
        ]
    },
    {
        "id": "65144bf873502229",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-life",
        "filename": "./rekata_questions/life.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "754c07383de677f9"
            ]
        ]
    },
    {
        "id": "b7319d998302ced9",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-past",
        "filename": "./rekata_questions/past.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 680,
        "y": 360,
        "wires": [
            [
                "754c07383de677f9"
            ]
        ]
    },
    {
        "id": "6c24a45dab269178",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-random",
        "filename": "./rekata_questions/random.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "754c07383de677f9"
            ]
        ]
    },
    {
        "id": "248597010839bebb",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-relationship",
        "filename": "./rekata_questions/relationship.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "754c07383de677f9"
            ]
        ]
    },
    {
        "id": "a4aa3415017046d4",
        "type": "chatbot-message",
        "z": "0935de8b88e9a016",
        "name": "about bot",
        "message": [
            {
                "message": " [ReKata Bot]\nBot ini menyediakan kumpulan pertanyaan yang dapat mendekatkan diri dengan lawan bicara dalam obrolan, terinspirasi 'intimacy deck' (party card).\n \n--= WARNING =--\nBeberapa pertanyaan terlaluertanyaan yang tersedia tidak disarankan untuk anak-anak.\n\n[ver 0.1.1 20220827]\n- Perbaikan framework dan server.\n- Perubahan metode penyimpanan pertanyaan.\n\n[ver 0.1.0]\n- Memasukkan 5 topik (25 soal / topik).\n- Penambahan fitur kirim saran."
            }
        ],
        "language": "none",
        "x": 680,
        "y": 720,
        "wires": [
            [
                "45ec9cafee3ca666"
            ]
        ]
    },
    {
        "id": "db3feb76e83f3f79",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-about_you",
        "filename": "./rekata_questions/about_you.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "1ca3c065d654ea10"
            ]
        ]
    },
    {
        "id": "8b2e8df667b8cef0",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-life",
        "filename": "./rekata_questions/life.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 670,
        "y": 60,
        "wires": [
            [
                "1ca3c065d654ea10"
            ]
        ]
    },
    {
        "id": "a2e8914fcbad2b6d",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-past",
        "filename": "./rekata_questions/past.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "1ca3c065d654ea10"
            ]
        ]
    },
    {
        "id": "9f72df65cce9ca47",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-random",
        "filename": "./rekata_questions/random.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "1ca3c065d654ea10"
            ]
        ]
    },
    {
        "id": "92c2afc67359e708",
        "type": "file in",
        "z": "0935de8b88e9a016",
        "name": "qst-relationship",
        "filename": "./rekata_questions/relationship.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "1ca3c065d654ea10"
            ]
        ]
    },
    {
        "id": "1ca3c065d654ea10",
        "type": "join",
        "z": "0935de8b88e9a016",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 890,
        "y": 100,
        "wires": [
            [
                "754c07383de677f9"
            ]
        ]
    },
    {
        "id": "234aeb58dc28f734",
        "type": "debug",
        "z": "0935de8b88e9a016",
        "name": "Read Each",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 40,
        "wires": []
    },
    {
        "id": "fa646f8ad9bfc7f5",
        "type": "chatbot-message",
        "z": "0935de8b88e9a016",
        "name": "cara saran",
        "message": [
            {
                "message": " --= Mohon Tidak Spam =--\nUntuk mengirimkan saran, gunakan format berikut :\n\n/kirim_saran [(username)] (saran)\n\ncth : /kirim_saran [rekata] Tolong tambahkan pertanyaan. Aku punya banyak ide pertanyaan."
            }
        ],
        "language": "none",
        "x": 690,
        "y": 520,
        "wires": [
            [
                "45ec9cafee3ca666"
            ]
        ]
    },
    {
        "id": "9e9421378be9d795",
        "type": "chatbot-message",
        "z": "0935de8b88e9a016",
        "name": "reply kirim saran",
        "message": [
            {
                "message": "Terima kasih, saran anda telah terkirim."
            }
        ],
        "language": "none",
        "x": 700,
        "y": 660,
        "wires": [
            [
                "45ec9cafee3ca666"
            ]
        ]
    },
    {
        "id": "e960a44de374913e",
        "type": "chatbot-conversation",
        "z": "0935de8b88e9a016",
        "name": "",
        "botDevelopment": "c940c4049c9e1049",
        "botProduction": "",
        "chatId": "1828978251",
        "userId": "",
        "transport": "telegram",
        "x": 730,
        "y": 620,
        "wires": [
            [
                "49143dad7538bf4c"
            ]
        ]
    },
    {
        "id": "2ad47f6ef32f35d7",
        "type": "function",
        "z": "0935de8b88e9a016",
        "name": "get saran",
        "func": "var rawSaran = msg.payload.content.replace(\"/kirim_saran\", \"\");\nmsg.payload = \"  [ \" + msg.payload.userId + \" ]\\n\" + rawSaran;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 580,
        "wires": [
            [
                "e960a44de374913e"
            ]
        ]
    },
    {
        "id": "7247126e008ab7f6",
        "type": "comment",
        "z": "0935de8b88e9a016",
        "name": "token",
        "info": "1911727921:AAEYXqf0ViIim6UtNP-h51pVQ7SzJAmjoaM",
        "x": 110,
        "y": 200,
        "wires": []
    },
    {
        "id": "fb9902a34548e51f",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "get_life",
        "command": "/get_life",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "4e9dbeadf5b9f33c"
            ],
            []
        ]
    },
    {
        "id": "4e9dbeadf5b9f33c",
        "type": "file in",
        "z": "e899286ccebc8c74",
        "name": "qst-life",
        "filename": "./rekata_questions/life.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "ebe4871a4bfab859"
            ]
        ]
    },
    {
        "id": "5d1c15528a429a99",
        "type": "function",
        "z": "e899286ccebc8c74",
        "name": "get question",
        "func": "var questionList = msg.payload.split(/\\r?\\n/);\nvar len = questionList.length;\nvar rndNum = Math.floor(Math.random() * len);\nvar question = questionList[rndNum].split(\"; \");\nmsg.payload = {\"content\":\"  [ \" + question[0] + \" ]\\n\" + question[1]};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 400,
        "wires": [
            [
                "4a0403aa8d5a27fa",
                "ea63b6765c8cc51e"
            ]
        ]
    },
    {
        "id": "ae1d48a226af6d13",
        "type": "telegram sender",
        "z": "e899286ccebc8c74",
        "name": "sender",
        "bot": "227839c5a19f7b4b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4a0403aa8d5a27fa",
        "type": "join",
        "z": "e899286ccebc8c74",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 400,
        "wires": [
            [
                "ae1d48a226af6d13",
                "378e7df5d0e0becf"
            ]
        ]
    },
    {
        "id": "22c28f084669231b",
        "type": "debug",
        "z": "e899286ccebc8c74",
        "name": "read input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "378e7df5d0e0becf",
        "type": "debug",
        "z": "e899286ccebc8c74",
        "name": "read output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "ea63b6765c8cc51e",
        "type": "debug",
        "z": "e899286ccebc8c74",
        "name": "read result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "e323d4507dfce392",
        "type": "file in",
        "z": "e899286ccebc8c74",
        "name": "qst-about_you",
        "filename": "./rekata_questions/about_you.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 380,
        "y": 480,
        "wires": [
            [
                "ebe4871a4bfab859"
            ]
        ]
    },
    {
        "id": "c8191044b5de6a0d",
        "type": "file in",
        "z": "e899286ccebc8c74",
        "name": "qst-past",
        "filename": "./rekata_questions/past.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "ebe4871a4bfab859"
            ]
        ]
    },
    {
        "id": "9213c35522093ebd",
        "type": "file in",
        "z": "e899286ccebc8c74",
        "name": "qst-random",
        "filename": "./rekata_questions/random.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "ebe4871a4bfab859"
            ]
        ]
    },
    {
        "id": "eb5b8a0ba4651d66",
        "type": "file in",
        "z": "e899286ccebc8c74",
        "name": "qst-relationship",
        "filename": "./rekata_questions/relationship.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "ebe4871a4bfab859"
            ]
        ]
    },
    {
        "id": "716f0cdaa78279e2",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "get_past",
        "command": "/get_past",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "c8191044b5de6a0d"
            ],
            []
        ]
    },
    {
        "id": "10709db733839af7",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "get_random",
        "command": "/get_random",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "9213c35522093ebd"
            ],
            []
        ]
    },
    {
        "id": "4c2cdde1f1bfd654",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "get_relation",
        "command": "/get_relation",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "eb5b8a0ba4651d66"
            ],
            []
        ]
    },
    {
        "id": "3b32f147948cfd71",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "get_about",
        "command": "/get_about",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "e323d4507dfce392"
            ],
            []
        ]
    },
    {
        "id": "4fe5fc2863a0243b",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "get_all",
        "command": "/get_all",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "4e9dbeadf5b9f33c",
                "c8191044b5de6a0d",
                "9213c35522093ebd",
                "eb5b8a0ba4651d66",
                "e323d4507dfce392"
            ],
            []
        ]
    },
    {
        "id": "ebe4871a4bfab859",
        "type": "join",
        "z": "e899286ccebc8c74",
        "name": "collect lib",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "5d1c15528a429a99",
                "22c28f084669231b"
            ]
        ]
    },
    {
        "id": "0500b4c348c8f979",
        "type": "telegram receiver",
        "z": "e899286ccebc8c74",
        "name": "Receiver",
        "bot": "227839c5a19f7b4b",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "b568da2416d01f2b"
            ],
            []
        ]
    },
    {
        "id": "b568da2416d01f2b",
        "type": "change",
        "z": "e899286ccebc8c74",
        "name": "clear content",
        "rules": [
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "4a0403aa8d5a27fa"
            ]
        ]
    },
    {
        "id": "2fbe2527189c9459",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "about",
        "command": "/about",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "ca0eeb23e3a55e0d"
            ],
            []
        ]
    },
    {
        "id": "f6262812154fd7ae",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "saran",
        "command": "/saran",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "b1ccade22192dd01"
            ],
            []
        ]
    },
    {
        "id": "0d1c0f3d72b79582",
        "type": "telegram command",
        "z": "e899286ccebc8c74",
        "name": "kirim_saran",
        "command": "/kirim_saran",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "227839c5a19f7b4b",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "0637625798593e60",
                "3da65ed135f6936f"
            ],
            []
        ]
    },
    {
        "id": "0637625798593e60",
        "type": "change",
        "z": "e899286ccebc8c74",
        "name": "send saran",
        "rules": [
            {
                "t": "change",
                "p": "payload.content",
                "pt": "msg",
                "from": "/kirim_saran",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "1828978251",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 720,
        "wires": [
            [
                "ae1d48a226af6d13"
            ]
        ]
    },
    {
        "id": "3da65ed135f6936f",
        "type": "function",
        "z": "e899286ccebc8c74",
        "name": "reply saran",
        "func": "msg.payload.content = \"Terima kasih.\\n Pesan anda telah terkirim\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600.765625,
        "y": 839.5,
        "wires": [
            [
                "ae1d48a226af6d13"
            ]
        ]
    },
    {
        "id": "b1ccade22192dd01",
        "type": "function",
        "z": "e899286ccebc8c74",
        "name": "cara saran",
        "func": "msg.payload.content = \" --= Mohon Tidak Spam =--\\nUntuk mengirimkan saran, gunakan format berikut : \\n/kirim_saran [<username>] <saran> \\ncth : /kirim_saran [rekata] Tolong tambahkan pertanyaan. Aku punya banyak ide pertanyaan.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 660,
        "wires": [
            [
                "ae1d48a226af6d13"
            ]
        ]
    },
    {
        "id": "ca0eeb23e3a55e0d",
        "type": "function",
        "z": "e899286ccebc8c74",
        "name": "about bot",
        "func": "msg.payload.content = \" [Tanya Akrab Bot]\\n\"+\n    \"Bot ini menyediakan kumpulan pertanyaan yang dapat mendekatkan diri dengan lawan bicara dalam obrolan, terinspirasi 'intimacy deck' (party card).\\n\" +\n    \"   --= WARNING =-- Beberapa pertanyaan yang tersedia tidak disarankan untuk anak-anak.\\n\" +\n    \"\\n\\n build : 20220829\\n\\n\"\n    \"[ver 0.2.0]\\n - Perubahan library.\\n\" +\n    \"[ver 0.1.1]\\n - Perbaikan framework dan server.\\n - Perubahan metode penyimpanan pertanyaan.\\n\" +\n    \"[ver 0.1.0]\\n - Memasukkan 5 topik (25 soal / topik).\\n - Penambahan fitur kirim saran.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 600,
        "wires": [
            [
                "ae1d48a226af6d13"
            ]
        ]
    }
]
